*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(#009688 50%,  #dadbd3 50%);
    padding: 30px;
    font-family: 'Lato', sans-serif;
}

.container{
    margin: auto;
    width: 80%;
    height: 650px;
    display: flex;
}

aside{
    width: 30%;
    background-color: #eaeaea;
}

main{
    width: 70%;
    background-color: #eaeaea;
}

.head-left .user-title{
    border-right: 1px solid #d6d6d6;;
}

.user-title{
    display: flex;
    height: 60px;
    padding: 10px;
    justify-content: space-between;
}

.user-cont, .icon-user-cont{
    display: flex;
    align-items: center;
    gap: 10px;
}

img{
    height: 40px;
    border-radius: 50%;
}

span{
    font-size: small;
    font-weight: 700;
}

.icon-user-cont i {
    color:#b1b1b1;
}

.notifications-cont{
    height: 60px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.fa-bell-slash{
    background-color: white;
    color:#8edafc;
    border-radius: 50%;
    padding: 10px;
}

.activation-not-text{
    font-size: 10px;
    text-decoration: underline;
    color: #4f7485;
}

.input-cont{
    padding: 10px;
    color: #4f7485;
    display: flex;
    margin: auto;
}

input {
    padding: 10px;
    font-size: 12px;
    width: 80%;
    background: white;
    border-style: none;
    border-top-right-radius:  5px;
    border-bottom-right-radius:  5px;
}

.input-cont button {
    width: 20%;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    border-style: none;
    background: white;
    border-top-left-radius:  5px;
    border-bottom-left-radius:  5px;
}

.fa-search{
    color: #b1b1b1;
}

.contacts-cont {
    background-color: white;
    height: calc(100% - 173.6px);
    overflow-y: scroll;
}

.contacts-item {
    background-color: white;
    padding:10px;
    border-bottom: 1px solid #e9ebeb;
    display: flex;
    gap:10px;
    align-items: center;
}

.last-access-text{
    font-size: 10px;
    color: #4f7485;
}

.chat-cont{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 120px);
    padding: 30px 60px 0 60px;
    overflow-y: scroll;
}

.msg-cont {
   width: 30%;
   margin-bottom: 10px;
   padding: 8px;
   border-radius: 10px;
}

.sent-msg{
    background-color: #d5f9ba;
    margin-left: calc(80% - 70px);
}

.received-msg{
    background-color: white;
}

.chat-text {
    font-size: 12px;
}

.date-text {
    font-size: 8px;
    text-align: right;
    margin-top:2px;
    color: #dddedf;
}

.typing-cont {
    height: 60px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #f3eeea;
}

.typing-cont input{
    border-radius: 5px;
}

.typing-cont i {
    color:#6b7376;
    font-size: 20px;
}